<html>

    <body>

        

        <form action="http://localhost:5000/index.html" method="GET">
            <input class="test" type="submit" value="Up" name="up" />
            <input type="submit" value="Down" name="down" />
            <input type="submit" value="Right" name="right" />
            <input type="submit" value="Left" name="left" />
        </form>


    <h1>{{grid1}}</h1>
    <h1>{{grid2}}</h1>
    <h1>{{grid3}}</h1>
    <h1>{{grid4}}</h1>
    <h1>{{grid5}}</h1>
    </body>
</html>